<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="endUser">
            <h2><span>End User</span> {{endUser.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{endUser.email}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{endUser.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{endUser.lastName}}</span>
                </dd>
                <dt><span>Roles</span></dt>
                <dd>
                    <span>{{endUser.roles}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/end-user', endUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
